@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    /* colors */
    --primary-bg: #666093;
    --secondary-bg: #fff;
    --primary-fg: #fff;
    --secondary-fg: #2e2e2e;
    --active-color: #9a6aa6;

    /* font options */
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: var(--primary-bg);
}

header {
    height: 70px;
    padding: 0 25px;
    position: fixed;
    width: 100%;
    z-index: 3;
    background-color: var(--secondary-bg);
}

.navbar-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.navbar-logo {
    padding: 0 0.5em;
    color: var(--primary-bg);
}

.navbar-logo-text {
    font-size: 1.2rem;
}

.navbar {
    display: flex;
}

.navbar-item {
    list-style: none;
    padding: 1em 3em;
}

.navbar-link {
    text-decoration: none;
    color: var(--secondary-fg);
}

.navbar-link:hover {
    color: var(--active-color);
    cursor: pointer;
}

.active a {
    color: var(--active-color);
}

.navbar-nav-area {
    display: flex;
    align-items: center;
}

.navbar-burger {
    position: relative;
    height: 3px;
    width: 25px;
    background-color: var(--active-color);
    display: none;
}

.navbar-burger::before,
.navbar-burger::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 25px;
    top: -10px;
    background-color: inherit;
}

.navbar-burger::after {
    top: 10px;
}

@media screen and (max-width: 740px) {
    .navbar-nav {
        justify-content: space-between;
    }

    .navbar-logo-area {
        font-size: 0.8rem;
    } 

    .navbar-nav-area {
        height: 100%;
        cursor: pointer;
    }

    .navbar {
        position: absolute;
        display: flex;
        flex-direction: column;
        right: 0;
        top: 8vh;
        height: 92vh;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
        padding: 0 2em;
        background-color: var(--secondary-bg);
        overflow: hidden;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .navbar-item {
        padding: 0;
    }

    .navbar-link {
        font-size: 1.5rem;
    }

    .navbar-burger {
        display: block;
    }

    .navbar-active {
        transform: translateX(0%);
    }

    .navbar-active + .navbar-burger {
        box-shadow: none;
        background: none;
    }

    .navbar-active + .navbar-burger::before {
        transform: translateY(10px) rotate(45deg);
        transition: transform 0.3s ease-in;
        background-color: var(--active-color);
    }

    .navbar-active + .navbar-burger::after {
        transform: translateY(-10px) rotate(-45deg);
        transition: transform 0.3s ease-in;
        background-color: var(--active-color);
    }
}
